<!-- contact -->
<section class="section section-on-footer bg-primary">
  <!-- <div class="container"> -->
  <!--   <div class="row"> -->
  <!--     <div class="col&#45;12 text&#45;center"> -->
  <!--       <h2 class="section&#45;title">Contact Info</h2> -->
  <!--     </div> -->
  <!--     <div class="col&#45;lg&#45;8 mx&#45;auto"> -->
  <!--       <div class="bg&#45;white rounded text&#45;center p&#45;5 shadow&#45;down"> -->
  <!--         <h4 class="mb&#45;80">Contact Form</h4> -->
  <!--         <form action="#" class="row"> -->
  <!--           <div class="col&#45;md&#45;6"> -->
  <!--             <input type="text" id="name" name="name" placeholder="Full Name" class="form&#45;control px&#45;0 mb&#45;4"> -->
  <!--           </div> -->
  <!--           <div class="col&#45;md&#45;6"> -->
  <!--             <input type="email" id="email" name="email" placeholder="Email Address" class="form&#45;control px&#45;0 mb&#45;4"> -->
  <!--           </div> -->
  <!--           <div class="col&#45;12"> -->
  <!--             <textarea name="message" id="message" class="form&#45;control px&#45;0 mb&#45;4" -->
  <!--               placeholder="Type Message Here"></textarea> -->
  <!--           </div> -->
  <!--           <div class="col&#45;lg&#45;6 col&#45;10 mx&#45;auto"> -->
  <!--             <button class="btn btn&#45;primary w&#45;100">send</button> -->
  <!--           </div> -->
  <!--         </form> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
      <!-- <div class="social row justify&#45;content&#45;center"> -->
      <!--     <div class="col&#45;md&#45;3"> -->
      <!--       <a class="text&#45;dark" target="_blank" href="https://github.com/kghandhi"><i class="fab fa&#45;github"></i></a> -->
      <!--     </div> -->
      <!--     <div class="col&#45;md&#45;3"> -->
      <!--       <a class="text&#45;dark" target="_blank" href="https://medium.com/@kiraghandhi"><i class="fab fa&#45;medium"></i></a> -->
      <!--     </div> -->
      <!--     <div class="col&#45;md&#45;3"> -->
      <!--       <a class="text&#45;dark" target="_blank" href="https://www.linkedin.com/in/kghandhi/"><i class="fab fa&#45;linkedin"></i></a> -->
      <!--     </div> -->
      <!--     <div class="col&#45;md&#45;3"> -->
      <!--       <a class="text&#45;dark" target="_blank" href="https://www.instagram.com/theofficial_pip/"><i class="fab fa&#45;instagram"></i></a></li> -->
      <!--     </div> -->
      <!-- </div> -->
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-purple footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">kira.ghandhi@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">650.743.8198</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">San Francisco, California, USA</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright © Kira <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> 
  </div>
</footer>
<!-- /footer -->
